// Variables starts

// Color variables starts

// halliburton colors starts 

$halliburton-white: #ffffff; 

$halliburton-blackish-grey: #252525; 

$halliburton-darkest-grey: #373737; 

$halliburton-dark-grey: #43494e; 

$halliburton-mid-dark-grey: #5d5d5d; 

$halliburton-mid-grey: #6d757a; 

$halliburton-light-grey: #bec4c9; 

$halliburton-lighter-grey: #a9adb3; 

$halliburton-whitish-grey: #d5dadc; 

$halliburton-grey: #a7adb3; 

$halliburton-orange: #eb7819; 

$halliburton-blue: #2b78e4; 

$halliburton-green: #85b02e; 

$halliburton-red: #cc0000; 

$halliburton-purple: #664975; 

$halliburton-teal: #0a8fa1; 

$halliburton-maroon: #8b100f; 

$halliburton-light-green: #bed6ad; 

$halliburton-mid-green: #95c66e; 

$halliburton-dark-green: #264f4b; 

$halliburton-light-blue: #a9c4f3; 

$halliburton-mid-blue: #7697c8; 

$halliburton-dark-blue: #2c3594; 

$halliburton-light-brown: #e8db91; 

$halliburton-mid-brown: #d2af4a; 

$halliburton-dark-brown: #783d0f; 

$halliburton-light-pink: #d59598; 

$halliburton-mid-pink: #b64750; 

$halliburton-dark-pink: #990008; 

// halliburton colors ends

$wfw-base-font-color: $halliburton-blackish-grey;

// Color variables ends

// Other variables starts

$wfw-base-font-family: Arial, Helvetica, Sans Serif;

$wfw-base-font-size: 14px;

$wfw-base-line-height: 1.428;

$wfw-icons-font-family: 'wfw-icons'; 

// Other variables ends

// Variables ends