@import "~wfw-shared/style/wfw-variables";
:host {
    padding: 5px;
}
.pull-right{
  float:right;
}
.global-icons span{
 float:right;
 margin-right:10px;
}

.back-to-search {
    cursor: pointer;
}

:host{
  /deep/
   {
    .icon-cart-default ,.icon-view-log{
      font-size: 15px;
    &:hover::before{
      color: $halliburton-dark-pink;
    }
    &:active::before{
      color: $halliburton-green;
    }
  }
  .icon-cart-default::before {
    color:$halliburton-blackish-grey;
   }
   .icon-view-log::before {
    color:$halliburton-teal;
   }
}

}
