<div class="ui-g-12">
    <h4>Menu Components</h4>
    <h5>ContextMenu/TieredMenu:</h5>
    <div class="ui-g-12 ui-md-5">
        <p-tieredMenu [model]="contextItems1"></p-tieredMenu>
    </div>
    <div class="ui-g-12 ui-md-5">
        <p-tieredMenu [model]="contextItems2"></p-tieredMenu>
    </div>
</div>
<div class="ui-g-12 ui-md-5">
    <h5>MegaMenu - Vertical:</h5>
    <div class="ui-g-12 ui-md-5">
        <p-megaMenu [model]="megaMenuItems" orientation="vertical"></p-megaMenu>
    </div>
</div>